version: "3.7"
services:
  squid:
    image: alatas/squid-alpine-ssl:latest
    environment:
      - CN=squid.local
      - O=IFNS3328
      - OU=IT
      - C=RU
    ports:
      - "3128:3128"
      - "4128:4128"
    volumes:
      - ./log:/var/log/
      - ./conf/squid.conf:/etc/squid/squid.conf
      - ./cache:/var/cache
      - ./cert:/etc/squid-cert
    restart: always

  redis:
    image: "redis:alpine"
  nprobe:
    build:
      context: .
    image: docker.pkg.github.com/joviniko/ntopng-docker-compose/ntopng-docker-compose:1.0.0
    command: ['nprobe', '--collector-port', '4128', '--zmq', 'tcp://*:1234']
    ports:
     - "4128:4128/udp"
  
  ntopng:
    build:
      context: .
    image: docker.pkg.github.com/joviniko/ntopng-docker-compose/ntopng-docker-compose:1.0.0
    command: ["ntopng", "--redis", "redis", "--interface", "tcp://nprobe:1234", "--local-networks", "192.168.0.0/22"]
    ports:
     - "3000:3000"
    depends_on:
     - nprobe
     - redis
